
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
</div>

<div class="container">

  <div *ngIf="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Servicio eliminado con exito.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Barbero</th>
        <th scope="col">Servicios</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col" class="d-flex justify-content-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of nuevaListaCitas ">
        <td>{{ item.nombre }}</td>
        <td>{{ item.apellidos }}</td>
        <td>{{ item.telefono }}</td>
        <td>{{ item.barbero }}</td>
        <td>{{ item.servicios }}</td>
        <td>{{ item.fecha | date:'dd-MMMM-YYYY':'+0000' }}</td>
        <td>{{ item.hora }}</td>
        <td class="d-flex justify-content-center">
          <button type="button" class="btn btn-danger" (click)="deleteRow(item._id)">
            <i class="fas fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>