
<!-- <h3>
  {{ title }}
</h3> -->

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Barbero</th>
        <th scope="col">Servicios</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of nuevaListaCitas ">
        <td>{{ item.nombre }}</td>
        <td>{{ item.apellidos }}</td>
        <td>{{ item.telefono }}</td>
        <td>{{ item.barbero }}</td>
        <td>{{ item.servicios }}</td>
        <td>{{ item.fecha }}</td>
        <td>{{ item.hora }}</td>
      </tr>
    </tbody>
  </table>
</div>