
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
  </div>
  
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col" class="d-flex justify-content-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaServicios; let i=index ">
          <td>{{i}}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.descripcion }}</td>
          <td class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger" (click)="deleteRow(item._id)">
              <i class="fas fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>