<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
              <div class="sidebar-brand-icon d-block d-md-none">
                  <i class="fas fa-house"></i>
              </div>
              <div class="sidebar-brand-text mx-3">Rojas Barbershop</div>
          </a>

        <!-- Divider -->
          <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
          <li class="nav-item active">
                <a class="nav-link" routerLink="/">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Dashboard</span>
                </a>
          </li>

        <!-- Divider -->
          <hr class="sidebar-divider">

        <!-- Heading -->
          <div class="sidebar-heading">
              Interface
          </div>

        <!-- Nav Item - Citas -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-calendar-check"></i>
                    <span>Citas</span>
                </a>
                <div class='d-none d-md-block bg-white py-2 collapse-inner rounded'>
                    <h6 class="collapse-header">Componentes:</h6>
                    <a class="collapse-item" routerLink="citas/registrarcita" routerLinkActive="active-link">Registrar nueva cita</a>
                    <a class="collapse-item" routerLink="citas/listadocitas" routerLinkActive="active-link">Ver registro de citas</a>
                </div>
            </li>


        <!-- Nav Item - Ajustes -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Ajustes</span>
                </a>
                <div class='d-none d-md-block bg-white py-2 collapse-inner rounded'>
                    <h6 class="collapse-header">Componentes:</h6>
                    <a class="collapse-item" routerLink="ajustes/registrarservicio" routerLinkActive="active-link">Agregar servicios</a>
                    <a class="collapse-item" routerLink="ajustes/listaservicios" routerLinkActive="active-link">Ver lista de servicios</a>
                    <a class="collapse-item" routerLink="ajustes/registrarbarbero" routerLinkActive="active-link">Agregar barberos</a>
                    <a class="collapse-item" routerLink="ajustes/listabarberos" routerLinkActive="active-link">Ver lista de barberos</a>
                </div>
            </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">
              <!-- Topbar -->
              <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                  <!-- Topbar Navbar -->
                  <ul class="navbar-nav ml-auto">
                      <!-- Nav Item - User Information -->
                      <li class="nav-item dropdown no-arrow">
                          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="mr-2 text-gray-600 small">Nombre Apellido</span>
                              <i class="fas fa-solid fa-user"></i>
                          </a>
                      </li>
                  </ul>

              </nav>
              <!-- End of Topbar -->

              <!-- Begin Page Content -->
              <div class="container-fluid">
                  <router-outlet></router-outlet>
              </div>
              

          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                      <span>Copyright &copy; ROJAS BARBERSHOP 2022</span>
                  </div>
              </div>
          </footer>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->