<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
  </div>
  
<div class="container">
    <h3>Bienvenido &lt;usuario&gt;</h3>
    <small class="text-muted">Nota: Modulo de Login no está contemplado en este desarrollo</small>

    <div class="container text-center m-4">
      <div class="row g-2">
        
        <div class="col-6">
          <div class="p-3 border bg-light">
            <a class="nav-link" routerLink="/citas/registrarcita">
              <i class="fas fa-solid fa-calendar-plus fa-5x d-block color-icono"></i>
              <span class="d-block mt-2 fw-bold">Registrar cita</span>
            </a>
          </div>
        </div>
        <div class="col-6">
          <div class="p-3 border bg-light">
            <a class="nav-link" routerLink="/citas/listadocitas">
              <i class="fas fa-solid fa-list fa-5x d-block color-icono"></i>
              <span class="d-block mt-2 fw-bold">Ver citas</span>
            </a>
          </div>
        </div>
        
        <div class="col-6">
          <div class="p-3 border bg-light">
            <a class="nav-link" routerLink="/ajustes/registrarservicio">
              <i class="fas fa-solid fa-plus fa-5x d-block color-icono"></i>
              <span class="d-block mt-2 fw-bold">Registrar servicio</span>
            </a>
          </div>
        </div>
        <div class="col-6">
          <div class="p-3 border bg-light">
            <a class="nav-link" routerLink="/ajustes/listaservicios">
              <i class="fas fa-solid fa-hand-scissors fa-5x d-block color-icono"></i>
              <span class="d-block mt-2 fw-bold">Ver servicios</span>
            </a>
          </div>
        </div>

        <div class="col-6">
          <div class="p-3 border bg-light">
            <a class="nav-link" routerLink="/ajustes/registrarbarbero">
              <i class="fas fa-solid fa-user-plus fa-5x d-block color-icono"></i>
              <span class="d-block mt-2 fw-bold">Registrar barbero</span>
            </a>
          </div>
        </div>
        <div class="col-6">
          <div class="p-3 border bg-light">
            <a class="nav-link" routerLink="/ajustes/listabarberos">
              <i class="fas fa-solid fa-users fa-5x d-block color-icono"></i>
              <span class="d-block mt-2 fw-bold">Ver barberos</span>
            </a>
          </div>
        </div>

      </div>
    </div>
</div>